.top {
  background-color: #EAF6F6;
  height: 435px;
}

.mid {

}

.bot {
  background-color: #66BFBF;
  margin-top: 35px;
  padding-bottom: 40px;
  height: 50px;
}

.web {
  text-decoration: underline;
}

.beer {
  position: relative;
  left: 330px;
  bottom: 350px;
  transform: rotate(-25deg);
}

.wave {
  position: relative;
  right: 70px;
  width: 250px;
  bottom: 80px;
}

.surf {
  position: relative;
  right: 200px;
  top: 75px;
}

.skill-row {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.Sales {
  margin-bottom: 30px;
  margin-right: 30px;
  float: left;
}

.cooking {
  margin-bottom: 30px;
  float: right;
  /* FLOAT can be easily abused as a cheap positioner. try to avoid this and use relative/absolute. less bugs overall */
  margin-left: 30px;
}

#cook {
  text-align: right;
}

.code {
  margin-right: 30px;
  float: left;
}

body {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0px;
  color: #40514E;
}
p{
  line-height: 2;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 75px;
  color: #66BFBF;
  line-height: 2;
  position: relative;
  bottom: 50px;

}
#title {
  margin: 0px;
  position: relative;
  bottom: 75px;
}
.profile{
  margin-bottom: 40px;
}

.bio{
  width: 30%;
  margin: auto;
}
.skills{
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: bold;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

hr {
  border: 0;
  border-style: none;
  border-top:10px dotted #EAF6F6;
  width: 10%;
}

.contact-me{
  margin-top: 40px;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: #66bfbf;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  font-weight: normal;
}

.copy{
  color: #EAF6F6;
  font-size: 0.75rem;
}
