/*relative positioning {position: relative;} does not affect any other elements of screen, useful for
partially layering/overlap imgs. Target element is moved visually, but it's default rendering is left
behind (ghost element). displayed relative to its default.*/
/*absolute positioning {position: absolute;} positions target relative to its parent element*/
/* {position: fixed;}keeps target in same position as you scroll*/

#myjob{
  margin-top: 0px;
  visibility: hidden;
}

#myjob2{
  margin: 0px;
}

.top {
  background-color: #EBFFFA;
  padding:
}

.mid {

}

.bot {

}

.web {
  text-decoration: underline;
}

.beer {
  position: relative;
  left: 275px;
  bottom: 305px;
  transform: rotate(-25deg);
}

.wave{
  position: relative;
  right:70px;
}

.surf {
  position: relative;
  right: 150px;
  top: 100px;
}

body {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
    background-color: #EBFFFA;
}

h1 {
  margin-bottom: 0px;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}

h2{
  font-family: 'Montserrat', sans-serif;
}
